@import '../../node_modules/tachyons/css/tachyons.min.css';
@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../node_modules/code-mirror-themes/themes/smoothy.css';
* {
  outline: none;
}

.CodeMirror {
  height: auto;
  width: 100%;
}

.CodeMirror-sizer {
  box-sizing: border-box;
  min-height: 80vh!important;
}

.CodeMirror pre {
  font-family: 'Source Code Pro', monospace;
}

.CodeMirror-cursor {
  border-left: #54f9cb 4px solid;
}

.CodeMirror-selected {
  background: #54f9cb!important;
}

.CodeMirror-selected:focus {
  background: #54f9cb;
}

.cm-s-default .cm-comment {
  color: red;
}
