@import '../../node_modules/tachyons/css/tachyons.css';
@import '../../node_modules/tachyons/src/_heights.css';
@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../node_modules/react-typist/dist/Typist.css';
@import './HeroAnimation.css';
@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/proxima-nova.woff2') format('woff2'), url('../assets/proxima-nova.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/proxima-nova-bold.woff2') format('woff2'), url('../assets/proxima-nova-bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/proxima-nova-thin.woff2') format('woff2'), url('../assets/proxima-nova-thin.woff') format('woff');
  font-weight: 100;
}

* {
  outline: none;
}

body {
  margin: 0;
  background: #1a1a1a;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.CodeMirror {
  height: auto;
  width: 100%;
  background: inherit;
}

.CodeMirror-sizer {
  box-sizing: border-box;
  min-height: 80vh!important;
}

.CodeMirror pre {
  font-family: 'Source Code Pro', monospace;
  color: #999999;
  font-size: 20px;
  line-height: 1.5em;
}

.CodeMirror-cursor {
  border-left: #1bc7fb 4px solid;
}

.CodeMirror-selected {
  background: #212121!important;
}

.CodeMirror-selected:focus {
  background: #212121;
}

.cm-s-default .cm-comment {
  color: #56e3a6;
}

.cm-s-default .cm-quote {
  color: #56e3a6;
}

.cm-header {
  color: #56e3a6!important;
}

.cm-variable-2 {
  color: #999!important;
}

.cm-variable-3 {
  color: #999!important
}

.cm-keyword {
  color: pink!important
}

.cm-operator {
  color: cyan!important
}

.cm-def {
  color: red!important
}

.cm-string {
  color: limegreen!important
}

.cm-strong {
  color: white!important
}

.mw-1080 {
  max-width: 1080px;
  margin: 0 auto;
}

.minw7 {
  min-width: 48rem;
}

.left--20 {
  left: -20%;
}

.ml-20 {
  margin-left: 20%;
}

.bg-dark-gray {
  background: #1a1a1a;
}

.bg-mid-gray {
  background: #212121;
}

.sans-serif {
  font-family: 'Proxima Nova';
}

.blue {
  color: #4353ff;
}

.bg-blue {
  background: linear-gradient(to bottom right, #4353ff, #3743bf);
}

.neon-green {
  color: #83ffc8;
}

.bg-neon-green {
  background-color: #83ffc8;
}

.menu {
  transition: left 0.3s;
}

.menu .folder {
  max-height: calc(100vh - 102px);
}

.editor {
  transition: margin-left 0.3s;
}

.border-left {
  left: -8rem;
  background: linear-gradient(to left, #212121, #1a1a1a);
}

.border-right {
  right: -8rem;
  background: linear-gradient(to right, #212121, #1a1a1a);
}

@media (min-width: 60em) {
  .minh-500-l {
    min-height: 500px;
  }
}
