<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  	<div id="app"></div>
  </body>
</html>
